Problem

It is assumed that the mean systolic blood pressure is μ = 120 mm Hg.
In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with
a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) 
from the regular population?
    *Set up the hypothesis test.
    *Write down all the steps followed for setting up the test.
    *Calculate the test statistic by hand and also code it in Python.
     It should be 4.76190. We will take a look at how to make decisions based on this calculated value.

Set up the hypothesis test.
    Ho => μ = 120 mm Hg
    Ha => μ != 120 mm Hg
    α = 0.05
    
Write down all the steps followed for setting up the test.
    *Ask the right question: "Is the sample group significantly different (with respect to the systolic blood pressure)
    from the whole population?"
    *Write down the null hypothesis, alternative hypothesis, and the significance level (0.05 as usual)
    *Choose between t-test and z-test; in this case, we're going to use the z-test, because sample > 30.
    If sample < 30, then we're using the t-test.
    
Data:
    Ho => μ = 120 mm Hg
    Ha => μ != 120 mm Hg
    α = 0.05
    n = 100
    sd_sample = 21.21 mm Hg
    
T calculation:
    t = (x̄ - μ0) / (sd_sample / √n)
    t = (130.1 - 120) / (21.21 / √100)
    t = 10.1 / 2.121
    t = 4.76190

In [1]:
import numpy as np

X_sample = 130.1
mu = 120
sd = 21.21
n = 100

t = (X_sample - mu) / (sd / np.sqrt(n))
t

4.761904761904759

Conclusion

T = 2 from two-tailed t-table
4.76190 > 2 => We can reject the null hypothesis H0 and accept H1